.tooltip {
	position:absolute;
	display:none;
	border:1px #000000 solid;
	padding:5px;
	width:350px;
	z-index:2000;
}

.tooltipMouseover {
	position:absolute;
	display:block;
	border:1px #000000 solid;
	background: #e6ecff;
	color: #000066;
	padding:5px;
	width:350px;
	z-index:2000;
	top: -100px;
	left: -500px;
}